@font-face {
  font-family: 'WeBrush';
  src: url('./Webrush Demo.ttf') format('truetype');
}

:root {
  --about-bg-color: rgb(9, 9, 37);
  --project-container-border: 5px solid rgba(0, 0, 255, 0.438);
  --card-border: 3px solid rgba(255, 255, 255, 0.185);
}

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

a {
  text-decoration: none;
  border-style: none;
}

body {
  margin: 0;
  background: white;
  overflow-x: hidden;
}

figcaption {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: left;
  margin: 15px;
}

i {
  font-size: 3rem;
  background-color: rgba(255, 217, 0, 0.507);
  margin: 5px;
  padding: 7px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.white {
  color: white;
}

.black {
  color: black;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-white-tr {
  background-color: rgba(255, 255, 255, 0.404);
}

.bg-black-tr {
  background-color: rgba(0, 0, 0, 0.3);
}

.grid-2-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 20px;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.center-text {
  text-align: center;
}

.text {
  margin: 15px;
}

#intro {
  background: linear-gradient(
      217deg,
      rgb(0, 126, 199),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 3, 199, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgb(26, 0, 173), rgba(0, 0, 255, 0) 70.71%);
}

#about {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.95),
      transparent 3%,
      transparent
    ),
    linear-gradient(to top, rgba(0, 0, 0, 0.95), transparent 3%, transparent),
    url(./images/desk_still_life.jpg);
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(20px);
  min-height: 125vh;
  padding: 100px 0;
}

#about img {
  max-width: 300px;
  border-radius: 150px;
}

#projects {
  min-height: 110vh;
  background: linear-gradient(
      217deg,
      rgb(22, 53, 97),
      rgba(6, 6, 20, 0.253) 70.71%
    ),
    linear-gradient(127deg, rgb(0, 0, 0), rgba(26, 26, 26, 0.445) 70.71%),
    linear-gradient(336deg, rgb(52, 32, 100), rgba(31, 13, 110, 0.473) 70.71%);
  padding: 300px 0;
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  width: fit-content;
  text-align: center;
  margin: 3rem 0;
}

.section-title h1 {
  font-size: 3rem;
}

h1,
h2,
h3 {
  font-family: 'Julius Sans One', sans-serif;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
  width: 100%;
  background: rgb(0, 0, 32);
  color: white;
  padding: 0 20px;
}

footer li {
  list-style: none;
}

.italics {
  font-style: italic;
}

.name-container {
  position: relative;
  display: flex;
  height: 50vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  margin: 0;
}

.first-name {
  position: absolute;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.5rem;
  font-size: 25vw;
  color: white;
  text-shadow: -2px -2px 3px black;
  transform: translateX(-7vw);
}

.last-name {
  position: absolute;
  font-family: 'WeBrush';
  letter-spacing: -0.1em;
  padding-right: 6rem;
}

.last-name-foreground {
  background-image: linear-gradient(
    0.25turn,
    rgb(255, 45, 45),
    rgb(229, 255, 0),
    rgb(0, 255, 0)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20vw;
  transform: translate(7vw, 75%);
}

.last-name-shadow {
  color: rgba(0, 0, 0, 0.507);
  font-size: 21vw;
  transform: translate(7vw, 75%);
}

.tagline {
  font-family: 'Bebas Neue', cursive;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-top: 50px;
  margin-bottom: 10vh;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.199);
  box-shadow: inset 3px 3px 5px rgb(27, 27, 27);
}

.tagline .divider {
  height: 1em;
  width: 2px;
  background-color: black;
  margin: 0 10px;
}

.vr {
  width: 40%;
  height: 1px;
  margin: 5px 0;
}

.pane {
  height: fit-content;
  width: 100%;
}

.top-bottom-border {
  border-top: var(--project-container-border);
  border-bottom: var(--project-container-border);
}

.shadow {
  box-shadow: 0 0 20px black;
}

.center-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.center-column-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.skill-badge {
  border: 10px solid rgb(247, 220, 71);
  border-radius: 7px;
}

.card {
  position: relative;
  width: 300px;
  height: 430px;
  margin: 40px;
  /* border-radius: 7px; */
  background: rgba(0, 0, 0, 0.13);
  border-top: var(--card-border);
  border-bottom: var(--card-border);
  padding: 20px 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  transition: border-top 0.5s, border-bottom 0.5s;
}

.card h1 {
  font-family: inherit;
  font-weight: 400;
  font-style: italic;
  font-size: 1.75rem;
  margin: 15px;
}

.card img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

.card .hr {
  width: 30%;
  background: white;
  height: 1px;
  margin-top: 0px;
}

.card p {
  font-weight: 300;
  text-align: left;
}

.card:hover {
  border-top: 3px solid gold;
  border-bottom: 3px solid gold;
}

.card:active {
  opacity: 0.85;
}

@media only screen and (max-width: 400px) {
  .section-title h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .grid-2-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  #about img {
    max-width: 200px;
  }
}

@media only screen and (orientation: landscape) {
  .name-container {
    height: 50vh;
  }

  .first-name {
    font-size: 25vh;
  }

  .last-name-foreground {
    font-size: 20vh;
  }

  .last-name-shadow {
    font-size: 21vh;
  }

  .tagline {
    font-size: 3vh;
  }
}
